* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    color:#F4D35E;
}
body {
    background-color: rgb(35,43,43);
    color:#F4D35E;
    margin: 2em;

}
p,
p > input {
    font-family: "Fira Code", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
}
p > b {
    color:#95A3A4;
}
input {
    background-color: rgb(35,43,43);
    caret-color: #F4D35E;
    outline:none;
    border:none;
}
p > input:focus {
    outline:none;
    border:none;
}s
p > input {
    color: #F4D35E;
    border:none;
    outline:none;
}
